.text-smaller {
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.text-small {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.text-smallest {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.text-big {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.text-medium {
  font-size: 2rem;
  line-height: 2.4rem;
}

.container {
  max-width: 159rem;
  width: 100%;
  margin: 0 auto;
}
