*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul,
ul li {
  list-style-type: none;
}

input {
  border: none;

  background: none;
}
