:root {
  --black: #1e1e1e;
  --blue-dark: #1d1e25;
  --blue-darkest: #16171c;
  --blue: #0060f7;
  --light-gray: #8f939b;
  --gray: #757981;

  --radius-smaller: 0.5rem;
  --radius-small: 0.7rem;
  --radius-medium: 1rem;

  --block-height: 93rem;

  --scroll-color: rgba(0, 96, 247, 0.2);

  --padding-medium: 3rem;
}
