:root {
  --blue-dark: #1d1e25;
  --blue-darkest: #16171c;
  --blue: #0060f7;
  --light-gray: #8f939b;
  --gray: #757981;

  --radius-small: 0.7rem;
  --radius-medium: 1rem;

  --scroll-color: rgba(0, 96, 247, 0.2);
}
