@import "./auxi/icon.scss", "./auxi/variables.scss", "./auxi/fonts.scss",
  "./auxi/normalize.scss";

@import "./utils/components.scss";

html {
  font-size: 62.5%;
  font-family: "Gilroy", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
