@import "./auxi/icon.scss", "./auxi/variables.scss";

@import "./utils/components.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  background: none;
  border: none;
  outline: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

ul,
ul li {
  list-style-type: none;
}
